# OS metadata
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Node / React
node_modules/
dist/
build/
.eslintcache
*.local
.npm
.cache

# C / Compilation
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.a
*.lib
backend/core/libds_engine.dll
backend/core/libds_engine_avl.dll
backend/core/libds_engine.so

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project Specific
debug_422.py
backend/scripts/mingw64/
*.zip
test.c
.gemini/

# Data
# synthetic_properties.csv # Uncomment if you want to ignore the dataset
